.btn {
  background-color:#631040;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
  background-color: #49092f;
  }
  .wrap {
      width: 1200px;
  }
  .left{
      width: 580px;
      height: 400px;;
      float: left;
      border:2px solid darkmagenta;
  }
  .right{
      width: 580px;
      height: 400px;
      border:2px solid darkmagenta;
      float: right;
  }
  .bgimg {
      color: black;
      background-repeat: no-repeat;
      background-size: 1300px 300px;
  }
  .overallbgimage {
      background-image: url('../images/player.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .inputtxt {
      width:350px;
      box-align: middle;
  }